<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include "head.html" %}
<body>

{% include "header.html" %}
<main id="main">

<div class="box">
<a href="{{ page.url }}">
<div class="center">
<h1>{{ title }}</h1>
</div>
</a>
</div>

<article class="box">
<a href="{{ page.url }}">
<div class="title">
<h2>{{ title }}</h2>
</div>
<div class="content">
<p>
{{ content }}
</p>
</div>
</a>
</article>

{% include "search.html" %}
<div class="paginator">
<a class="prev" href="{% if pagination.href.previous %}{{ pagination.href.previous }}{% else %}#{% endif %}">«</a>
<div id="mode" class="favicon">
<div id="dark"><img alt="{{ site.title }}" src="{{ site.baseurl }}favicon.svg"></div>
<div id="light" hidden><img alt="{{ site.title }}" src="{{ site.baseurl }}favicon.svg"></div>
</div>
<a class="next" href="{% if pagination.href.next %}{{ pagination.href.next }}{% else %}#{% endif %}">»</a>
</div>

</main>

{% include "footer.html" %}
</body>

</html>
