<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include "head.html" %}
<body>

{% include "header.html" %}
<main id="main">

<div class="box">
<a href="{{ site.baseurl }}{{ title | slug }}/">
<div class="center">
<h1>{{ title }}</h1>
</div>
</a>
</div>

{{ content }}
{% include "search.html" %}
<div class="paginator">
<div id="mode" class="favicon">
<div id="dark"><img alt="{{ site.title }}" src="{{ site.baseurl }}favicon.svg"></div>
<div id="light" hidden><img alt="{{ site.title }}" src="{{ site.baseurl }}favicon.svg"></div>
<div id="share" class="share" hidden></div>
</div>
</div>

</main>

{% include "footer.html" %}
</body>

</html>
