<head>

<meta charset="utf-8">
<meta name="view-transition" content="same-origin">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if site.baseurl }}{{ title }}{{ else }}{{ title }} | {{ site.title }}{{ end }}</title>
<meta name="keywords" content="{{ title }}">
<meta name="description" content="
{{ summary }}
">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ if site.baseurl }}{{ title }}{{ else }}{{ title }} | {{ site.title }}{{ end }}">
<meta name="twitter:image" content="{{ site.baseurl }}bayuangora.webp">
<meta name="twitter:description" content="
{{ summary }}
">

<meta property="og:type" content="website">
<meta property="og:title" content="{{ if site.baseurl }}{{ title }}{{ else }}{{ title }} | {{ site.title }}{{ end }}">
<meta property="og:url" content="{{ site.baseurl }}{{ title | slug }}/">
<meta property="og:image" content="{{ site.baseurl }}bayuangora.webp">
<meta property="og:description" content="
{{ summary }}
">

<meta name="theme-color" content="#000">
<meta name="msapplication-TileColor" content="#fff">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ site.title }}">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="msapplication-starturl" content="{{ site.baseurl }}">
<meta name="image" content="{{ site.baseurl }}bayuangora.webp">

<link rel="canonical" href="{{ site.baseurl }}{{ title | slug }}/">
<link rel="manifest" href="{{ site.baseurl }}manifest.json">
<link rel="icon" type="image/png" href="{{ site.baseurl }}favicon.png">
<link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}favicon.svg">
<link rel="apple-touch-icon" href="{{ site.baseurl }}favicon.png">
<link rel="mask-icon" color="#000" href="{{ site.baseurl }}favicon.svg">
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}{{ if site.baseurl }}start.css{{ else }}style.css{{ end }}">
{{ if site.baseurl }}
<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "WebSite",
"name": "{{ site.title }}",
"url": "{{ site.baseurl }}",
"image": "{{ site.baseurl }}bayuangora.webp",
"description": "{{ summary }}"
}
</script>
{{ else }}
<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "Article",
"headline": "{{ title }} | {{ site.title }}",
"image": "{{ site.baseurl }}bayuangora.webp",
"author": {
  "@type": "Person",
  "name": "{{ site.title }}",
  "url": "{{ site.baseurl }}"
  }
}
</script>
{{ end }}
</head>
