<head>

<meta charset="utf-8">
<meta name="view-transition" content="same-origin">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% if page.url %}{{ site.title }}{% else %}{{ title }} | {{ site.title }}{% endif %}</title>
<meta name="keywords" content="{% if page.url %}{{ site.title }}{% else %}{{ title }}{% endif %}">
<meta name="description" content="
{% if page.url %}{{ site.description }}{% else %}{{ summary }}{% endif %}
">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{% if page.url %}{{ site.title }}{% else %}{{ title }} | {{ site.title }}{% endif %}">
<meta name="twitter:image" content="{{ site.baseurl }}bayuangora.webp">
<meta name="twitter:description" content="
{% if page.url %}{{ site.description }}{% else %}{{ summary }}{% endif %}
">

<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.url %}{{ site.title }}{% else %}{{ title }} | {{ site.title }}{% endif %}">
<meta property="og:url" content="{% if page.url %}{{ site.baseurl }}{% else %}{{ page.url }}{% endif %}">
<meta property="og:image" content="{{ site.baseurl }}bayuangora.webp">
<meta property="og:description" content="
{% if page.url %}{{ site.description }}{% else %}{{ summary }}{% endif %}
">

<meta name="theme-color" content="#000">
<meta name="msapplication-TileColor" content="#fff">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ site.title }}">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="msapplication-starturl" content="{{ site.baseurl }}">
<meta name="image" content="{{ site.baseurl }}bayuangora.webp">

<link rel="canonical" href="{% if page.url %}{{ site.baseurl }}{% else %}{{ page.url }}{% endif %}">
<link rel="manifest" href="{{ site.baseurl }}manifest.json">
<link rel="icon" type="image/png" href="{{ site.baseurl }}favicon.png">
<link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}favicon.svg">
<link rel="apple-touch-icon" href="{{ site.baseurl }}favicon.png">
<link rel="mask-icon" color="#000" href="{{ site.baseurl }}favicon.svg">
<link rel="stylesheet" type="text/css" media="all" href="{% if page.url %}{{ site.baseurl }}start.css{% else %}{{ site.baseurl }}style.css{% endif %}">

<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "ProfilePage",
"mainEntity": {
  "@type": "Person",
  "name": "{{ site.title }}",
  "url": "{{ site.baseurl }}",
  "image": "{{ site.baseurl }}bayuangora.webp",
  "description": "{{ summary }}"
  }
}
</script>
</head>
